<br>

{% assign collapse-unique-id = "" %}
{% assign collapse-btn-title = "" %}
{% assign collapse-git-link = "" %}
{% capture collapse-content %}
<h3></h3>
<p></p>
{% endcapture %}

{% include collapse.html collapse-unique-id=collapse-unique-id collapse-content=collapse-content collapse-btn-title=collapse-btn-title collapse-git-link=collapse-git-link %}

<br>
